<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>customer list</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
</head>
<body>
  <h1>customer customer_details</h1>
  <div class="container">

        <div class="customer_details">
            <h3> {{customer.first_name}}{{customer.last_name}}</h3>
            <p><strong>Phone: </strong>{{customer.phone}}</p>
            <p><strong>Address: </strong>{{customer.address}}</p>
            <p><strong>Email: </strong>{{customer.email}}</p>
            <p><strong>Joined on: </strong>{{customer.created_at}}</p>
        
        </div>
        <a href ="{% url 'customer_list'%}" class"back-link">back to customer list</a>
    </div>
</body>
</html>